.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  padding-left: 4px;
}
#dashboardIcon {
  background-color: #2cda6d;
  border-radius: 20px;
  margin-top: 32px;
}
.sidenav div {
  padding: 20px;
  cursor: pointer;
}
.sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #2cda6d;
}

.sidenav a:active {
  color: #2cda6d;
}
.page-label-1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#dashboard {
  margin-left: 300px;
  margin-top: 60px;
}
.patientDetailContainer {
  /* width: 90%; */
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 32px 48px 32px 30px;
}
.profileBanner {
  display: flex;
  justify-content: space-around;
}
/* #profilePhoto{
  width: 100%;
} */
.pateintDetails {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 4px;
  width: 40%;
}

.label {
  display: flex;
  margin-left: 16px;
  margin-top: 12px;
  justify-content: left;
}
.value {
  margin-left: 8px;
}

.tableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 25px;
}
#tableDiv {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#table th {
  border-bottom: 1px solid #f5f9fe;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  background-color: #f5f9fe;
}
#table td {
  border-bottom: 1px solid #d9dbdc;
  padding: 8px;
  text-align: center;
}

#table th {
  background-color: #f5f9fe;
}

/* Optional: Hover effect on table rows */
#table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Optional: Add some spacing between cells for better readability */
#table td {
  padding: 10px;
}

td button {
  border: transparent;
  background-color: #2cda6d;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

div > h3:active {
  color: #2cda6d;
}

.overlayAppoint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  z-index: 999; /* Ensure the overlay is behind the modal but in front of the appointment page */
}


/* Add this media query at the bottom of your CSS file */
@media screen and (max-width: 960px) {
   
  .page-label {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-left: 10px;
  }


  #dashboard {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    font-size: small;
  }

  .patientDetailContainer{
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .profile-img{
    display: none;
  }

  #profilePhoto{
    display: none;
  }


  .pateintDetails{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    align-items: center;
  }

  .tableContainer{
    width: 100%;
    height: 150px;
  }

  #table{
    width: 105%;
    height: 100%;
    margin-left: -9px;
    /* display: flex; */
    /* align-self: center; */
    /* align-items: center; */
    justify-content: center;
  }

  #tableDiv{
    width: fit-content;
    height: 100%;
    padding: 10px;
  }

}