.SignBtn {
  border: #2cda6d solid;
  background-color: #2cda6d;
  color: #ffffff;
  padding: 12px 18px;
  border-radius: 5px;
}
.signinBtn {
  border: #2cda6d solid;
  background-color: #ffffff;
  color: #2cda6d;
  padding: 12px 18px;
  border-radius: 5px;
}

.navbar {
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f9fe;
}

.btns {
  display: flex;
  width: 80vw;
  justify-content: end;
}
.logo {
  display: flex;
  width: 20vw;
  justify-content: left;
}
.navLink {
  color: black;
  text-decoration: none;
  position: relative;
  height: max-content;
  font-weight: 500;
}
.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #2cda6d;
  transition: 0.3s;
}

.navLink:hover {
  color: #2cda6d;
}

.navLink:hover::after {
  width: 100%;
}

@media screen and (max-width: 520px) {
  .navbar {
    font-size: 0.9rem;
  }
}
