/* .row{
    margin: 10px 0;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

input,
select {
  border: transparent;
  border-bottom: 1px solid rgb(163, 163, 163);
}
.inputFname,
.inputLname {
  width: 2vw;
}
.inputFname > input,
.inputLname > input {
  width: 2vw;
}
.inputEmail {
  width: 2vw;
}
.inputEmail > input {
  width: 89vw;
}
.inputGender,
.inputBloodGroup,
.inputDOB {
  width: 30vw;
}
.inputGender > select {
  width: 29vw;
}
.inputBloodGroup > select {
  width: 29vw;
}
.inputDOB > input {
  width: 29vw;
}
.inputMobDoc,
.inputRegnNo {
  width: 45vw;
}
.inputMobDoc > input {
  width: 44vw;
}
.inputRegnNo > input {
  width: 44vw;
}
.inputDegree > select {
  width: 29vw;
}
.inputCertificate {
  width: 90vw;
}
.inputCertificate > input {
  width: 89vw;
}
.inputAdddress {
  width: 90vw;
}
.inputAddress > input {
  width: 90vw;
}
.inputImage {
  width: 90vw;
}
.inputImage > input {
  width: 89vw;
}
.inputDoctorPassword,
.inputDoctorConfirmPassword {
  width: 45vw;
}
.inputDoctorPassword > input,
.inputDoctorConfirmPassword > input {
  width: 44vw;
}
.submitBtn {
  border: #2cda6d solid;
  background-color: #2cda6d;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}
