

 .row{
    margin: 10px 0;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  input, select{
    border: transparent;
    border-bottom: 1px solid rgb(163, 163, 163);
    border-radius: 0;
  
  }
  .inputFname, .inputLname{
    width: 45vw;
  }
  .patientPassword, .patientConfirmPassword{
    width: 45vw;
  }
  .patientPassword > input , .patientConfirmPassword > input{
    width: 44vw;
  }
  .inputFname > input , .inputLname> input{
    width: 44vw;
  }
  .inputEmail{
    width: 90vw;
  }
  .inputEmail > input{
    width: 89vw;
  }
  .inputGender, .inputBloodGroup, .inputDOB{
    width: 30vw;
  }
  .inputGender>select{
    width: 29vw;
  }
  .inputBloodGroup>select{
    width: 29vw;
  }
  .inputDOB>input{
    width: 29vw;
  }
  .inputMob, .inputHeight, .inputWeight{
    width: 30vw;
  }
  .inputMob>input{
    width: 28vw;
  }
  .inputHeight>input{
    width: 28vw;
  }
  .inputWeight>input{
    width: 29vw;
  }
  .inputAdddress{
    width: 90vw;
  }
  .inputAddress > input{
    width: 90vw;
  }
  .inputImage{
    width: 90vw;
  }
  .inputImage > input {
    justify-content: end;
    width: 89vw;
  }
  .inputPatientPassword, .inputPatientConfirmPassword{
    width: 45vw;
  }
  .inputPatientPassword > input , .inputPatientConfirmPassword > input{
    width: 44vw;
  }
  .submitBtn{
    border: #2CDA6D solid;
    background-color: #2CDA6D;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
  }
  Select{
    border: transparent;
    border-bottom: 1px solid rgb(163, 163, 163);
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  